kissat/build
kissat/*.o
kissat/*.a
kissat/makefile
kissat/build.h
kissat/kissat
kissat/tissat
kissat/*.gcno
kissat/*.gcda
kissat/*.gcov
kissat/gmon.out
kissat/*~

kissat_search_status.txt
debug
tmp
result
dataset
bak

train
test
val

*inmemory*
*__pycache__
*.pyc
.vscode
.DS_Store

